*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Overpass Mono', monospace;
	color: #666;
	background: #1d1f1e;
}

h1{
	display:flex;
	justify-content:center;
}
img{

	width:100vw;
}

main{
	margin-top:8em;
}
section{
	display:flex;
	justify-content: center;
	padding:2em;

}